{% extends 'base.html' %} {% load static %}
{% block title_block %} Login {%endblock %}
{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />

<div class="bg-color">
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Login</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <form class="login-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" name="username" />
              </div>
              <div class="form-group">
                <input id="password" class="form-control" type="password" placeholder="Password" name="password" />
                <i class="fa fa-eye-slash" id="toggle-password"></i>
              </div>
              <div class="form-group">
                <button type="submit" id="login-button" class="form-control btn btn-primary submit px-3">
                  Login
                </button>
              </div>
            </form>
            <p class="w-100 text-center">
              Need an account?
              <a href="{% url 'signup' %}">Signup</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}